* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.topnav .logo-container {
  position: absolute;
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}
h4 {
  font-size: 16px;
}
.topnav {
  height: 10vh;
  box-shadow: 0 0px 5px black;
}
.nav-links {
  display: flex;
  height: 100%;
  width: 80%;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  margin-left: auto;
}

.nav-links a {
  color: #111;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  color: #333;
  transition: 1s ease;
  /* font-size: large; */
}

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  background-color: rgba(1, 1, 1, 0.9);
  overflow-x: hidden;
  z-index: 1;
  padding-top: 15px;
  transition: 0.4s ease;
}
.sidenav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.4s ease;
  font-size: 1.2rem;
  padding-top: 30px;
}
.sidenav a:hover {
  color: yellow;
}
.sidenav .closebtn {
  position: absolute;
  top: 25 px;
  right: 25px;
  font-size: 36px;
}
.menu {
  display: none;
}

.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}

.introduction {
  flex: 1;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text p {
  font-size: 22px;
  margin-top: 5px;
  color: #585772;
}

.cta {
  padding-top: 50px;
}

.cta-select {
  border: 2px solid #c36cbb;
  background: transparent;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 1rem;
}
.cta-select:hover {
  transition: 0.4s ease;
  background-color: violet;
  color: #fff;
}

.cta-add {
  background: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  color: #fff;
  margin-left: 2%;
}

.cta-add:hover {
  transition: 0.5s ease;
  background-color: #dd8dd5;
}

.cover {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60vh;
}
.cover img {
  height: 100%;
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 1.5s ease;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.laptop-select {
  width: 15%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 20%;
}

.big-circle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.7;
  height: 80%;
}

.medium-circle {
  position: absolute;
  bottom: 0;
  right: 30%;
  opacity: 0.5;
  z-index: -1;
  height: 80%;
}
.small-circle {
  position: absolute;
  bottom: 0;
  left: 20%;
  opacity: 0.4;
  height: 40%;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  nav {
    position: relative;
  }
  .nav-links {
    display: none;
  }

  .menu {
    display: block;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-5%, -50%);
    font-size: 30px;
  }
  .menu:hover {
    color: #333;
  }
  .overlay-content {
    position: relative;
    top: 25%;
    text-align: center;
    margin-top: 30px;
  }
  .presentation {
    flex-direction: column;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
  }

  .intro-text h1 {
    font-size: 2rem;
  }
  .intro-text p {
    font-size: 1rem;
  }
  .laptop-select {
    bottom: 5%;
    right: 50%;
    width: 50%;
    transform: translate(50%, 5%);
  }
  .cover img {
    height: 80%;
  }
  .small-circle,
  .medium-circle,
  .big-circle {
    opacity: 0.2;
  }
}
